<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets"
        id = "net.wearebuilding.bpi-test"
        version = "2.1.23">
    <name>Blueprint VIC Test</name>

    <description>
        Conduct onsite buidling inspections with Blueprint and produce beautiful reports that your clients will love.
    </description>

    <author href="http://www.simb.com.au" email="dev3@simb.com.au">
        SIMB Digital Developers
    </author>

    <access origin="*" />
    <engine name="ios" spec="5.0.0" />

    <plugin name="cordova-plugin-battery-status" source="npm" spec="1.2.4"/>
    <plugin name="cordova-plugin-ios-camera-permissions" source="npm" spec="1.2.0"/>
    <plugin name="cordova-plugin-camera" source="npm" spec="2.4.1"/>
    <plugin name="cordova-plugin-media" source="npm" spec="3.0.1"/>
    <plugin name="cordova-plugin-media-capture" source="npm" spec="1.4.3"/>
    <plugin name="cordova-plugin-contacts" source="npm" spec="2.3.1"/>
    <plugin name="cordova-plugin-device" source="npm" spec="1.1.6"/>
    <plugin name="cordova-plugin-dialogs" source="npm" spec="1.3.3"/>
    <plugin name="cordova-plugin-file-transfer" source="npm" spec="1.6.3"/>
    <plugin name="cordova-plugin-geolocation" source="npm" spec="2.4.3"/>
    <plugin name="cordova-plugin-globalization" source="npm" spec="1.0.7"/>
    <plugin name="cordova-plugin-inappbrowser" source="npm" spec="1.7.1"/>
    <plugin name="cordova-plugin-network-information" source="npm" spec="1.3.3"/>
    <plugin name="cordova-plugin-splashscreen" source="npm" spec="4.0.3"/>
    <plugin name="cordova-plugin-vibration" source="npm" spec="2.1.5"/>
    <plugin name="cordova-plugin-statusbar" source="npm" spec="2.2.3"/>
    <plugin name="cordova-plugin-file-opener2" source="npm" spec="2.0.19"/>
    <plugin name="cordova-plugin-sqlite-2" source="npm" spec="1.0.4"/>

    <preference name="Orientation" value="landscape" />
    <preference name="target-device" value="tablet" />

    <platform name="ios">
        <icon src="resources/icon/ios/icon-32.png" width="32" height="32" />
        <icon src="resources/icon/ios/icon-72.png" width="72" height="72" />
        <icon src="resources/icon/ios/icon-144.png" width="144" height="144" />
        <icon src="resources/icon/ios/icon-180.png" width="180" height="180" />
        <icon src="resources/icon/ios/icon-192.png" width="192" height="192" />
        <icon src="resources/icon/ios/icon-270.png" width="270" height="270" />
    </platform>

    <platform name="ios">
        <config-file target="*-Info.plist" parent="NSLocationWhenInUseUsageDescription">
            <string>Location is required so we can show you your nearby projects to support.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>Camera access required in order to let you select pictures from camera.</string>
        </config-file>
        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
            <string>Photo library access required in order to let you select pictures from gallery/library.</string>
        </config-file>
    </platform>
</widget>