#noteModal
{
	position: absolute; top: 5px; left: 5px;
	z-index: 99999;
	background-color: #F4F4F4;
	padding: 10px;
	
	border: 2px solid #CCCCCC;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
}

	#noteModal h1
	{
		background: none;
		color: #333333;
		font-family: arial, sans-serif;
		font-size: 14pt;
		font-weight: bold;
		display: block;
		padding: 0;
		margin: 0;
		height: auto;
	}
	
	
	
	#noteModal #txtNoteModal
	{
		font-size: 12pt;
		margin: 10px 0px;
	}

	#noteModal #frmNMControls a
	{
		float: left;
		
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7ec5cc), color-stop(50%,#00a4b5), color-stop(51%,#0094a3), color-stop(100%,#00a0b2)); /* Chrome,Safari4+ */
	    background: -webkit-linear-gradient(top, #7ec5cc 0%, #00a4b5 50%,#0094a3 51%,#00a0b2 100%); /* Chrome10+,Safari5.1+ */
	    background: linear-gradient(top, #7ec5cc 0%, #00a4b5 50%,#0094a3 51%,#00a0b2 100%); /* W3C */
	    border: 1px solid #768b8d; 
	    border-radius: 5px;
	    color: #fff;
	    display: block;
	    font-size: 12px;
	    font-weight: bold; 
	    height: 28px;
	    line-height: 28px;
	    margin: 0px 10px 0px 0px;
	    padding: 0 5px;
	    text-align: center;
	    text-decoration: none;
	    text-shadow: #032a2e 0px -1px 0;
	    width: 88px;
	}
	
	#noteModal #frmNMControls #btnNMCancel
	{
	    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4214b), color-stop(50%,#c3032c), color-stop(51%,#b10328), color-stop(100%,#c3032c)) !important; /* Chrome,Safari4+ */
	    background: -webkit-linear-gradient(top, #e4214b 0%,#c3032c 50%,#b10328 51%,#c3032c 100%) !important; /* Chrome10+,Safari5.1+ */
	    background: linear-gradient(top, #e4214b 0%,#c3032c 50%,#b10328 51%,#c3032c 100%) !important; /* W3C */
	    border: 1px solid #768b8d !important; 		
	}
	
	#noteModal #frmNMControls a:hover
	{
		cursor: pointer;
	}