ul.selector
{
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fff 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(top, #fff 0%, #e5e5e5 100%); /* W3C */
    border: 1px solid #bbbbbb;   
    border-radius: 10px;	
    display: block;
	font-weight: normal;
	overflow: none;
	list-style-type: none;
	height: 20px;
    font-size: 14px; 
    padding: 9px;
    width: 250px;
    margin: 5px 0;
}

	ul.selector li
	{
		display: none;	
		margin: 0;
		padding-left: 5px;
	}
	
#defect ul.selector
{
	width: 160px;
	position: inherit;
	float: right;	
}

	#defect ul.selector li
	{
		margin-top: -5px;
		background: none !important;
	}
	
.twocolumn ul.selector 
{
	width: 200px;
}
	
#popSelector
{
	position: absolute;
	width: 500px;
	height: 500px;
	top: 0px;
	left: 0;
	z-index: 9999;
	background-color: #FFFFFF;
	border: 2px solid #666666;
	-webkit-border-radius: 10px; border-radius: 10px;
}

	#popSelector h1
	{
        background: #006e79;
        color: #fff;
        font-family: 'PTSansBoldItalic';
        font-size: 16px;
        height: auto;
        line-height: 1em;
        margin: 0;
        padding: 5px 0;
        text-align: center;
        text-shadow: 1px 1px 2px #002c30;        
	}	
	
	#popSelector #popSelectorSearch
	{
		
        height: 25px;
		margin: 0 10px 0 5px;
	}
	
	#popSelector input[type="button"], #popSelector input[type="text"]
	{
        display: inline-block;
        margin-right: 5px;
	}

	#popSelector input[type="text"]
	{
		width: 150px;
	}
	
    #popSelector #btnPopSelectorSearch, #popSelector #btnPopSelectorAdd
    {
        margin-top: 10px;
        height: 45px;  
    }
    
    #popSelectorOptionsWrapper
    {
        height: 370px;   
        overflow-x: hidden;
        overflow-y: auto;
    }    
	
	#popSelector #popSelectorOptions
	{
		margin: 5px 0 0 0;
		padding: 0;
		overflow-y: auto;
        overflow-x: hidden;
		width: 440px;
	}
	
		#popSelector #popSelectorOptions p
		{                
			margin: 0 5px !important;
			background-color: #EEEEEE;
			border-top: 1px solid #CCCCCC;
			color: #000000;
			height: 22px;
			padding: 15px 5px 10px;
			width: 430px;
            position: relative;
            display: block;
		}
        
        #popSelector #popSelectorOptions p.deleteEnabled
        {
            width: 375px; 
            padding: 15px 5px 10px 55px;   
        }
		
			#popSelector #popSelectorOptions p.selected
			{
				background-color: #E0F3FE;
				color: #000000;
				cursor: pointer;	
			}
			
		#popSelector #popSelectorOptions p a.popDelete
		{
			position: absolute;
			left: 10px;
			height: 25px;
			top: 8px;
			background-color: #a41f20;
			padding: 5px 10px;
			color: white;
			font-weight: bold;
			display: block;		
            width: 30px !important;
            border: none !important;
            background: transparent url('../images/icon_delete2.png') left top no-repeat !important;
		}
        
        #popSelector #popSelectorOptions p a.popDoDelete
        {
            position: absolute;
            right: 10px;
            top: 5px; 
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc0000), color-stop(100%,#cc0000)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, #a40f20 0%,#a40f20 100%); /* Chrome10+,Safari5.1+ */            
            background: linear-gradient(to bottom, #a40f20 0%,#a40f20 100%); /* W3C *//
            color: #FFFFFF;
            height: 22px;
            line-height: 22px; 
            display: none;           
        }
		
		#popSelectorControls
		{
			height: 40px;
			width: 100%;
			margin: 5px;
		}
		
			#popSelectorControls a
			{
				width: 65px;
                float: left; 
                margin: 5px 5px 5px 10px;
                visibility: hidden;				
			}
			
			#popSelectorControls a:first-child
			{
				margin-left: 5px;
			}
            
            #popAZ
            {
                position: absolute;
                right: 10px;
                top: 35px;  
                list-style-type: none;  
                width: 40px;
                height: 599px;
                overflow: none;
            }
            
                #popAZ li
                {
                    margin: 0;
                    padding: 0;
                    background-color: #333333;    
                }
                
                    #popAZ li a
                    {
                        display: block;
                        width: 30px;
                        padding: 0px 5px;   
                        text-decoration: none;
                        color: #FFFFFF;
                        text-align: center;
                        font-size: 9pt;
                    }

.webkitBox
{
	display: -webkit-box !important;	
}